# Core Libraries
fastapi
uvicorn
sqlalchemy
loguru
python-dotenv
python-multipart

# Parsing
PyPDF2
python-docx

# AI / NLP Libraries
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
chromadb
numpy
transformers
accelerate
